
@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
      text-shadow: 0px 0px 40px #fff;
    }
    90% {
      opacity: 1;
      transform: none;
      text-shadow: 0px 0px 10px #fff;
    }

    100% {
        opacity: 1;
        transform: none;
        text-shadow: none;
      }
  }

  @keyframes border1 {
      0%{
          box-shadow:none
      }
      100%{
        box-shadow: inset -1px 1px 0px 1px $lightBlue;
      }
  }

  @keyframes border2 {
    0%{
        box-shadow:none
    }
    100%{
        box-shadow: inset 1px -1px 0px 1px $lightBlue;
    }
}