@import 'normalize';
@import 'mixins';
@import 'animations';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @include fluidSize(10px, 30px);
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.header {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    @include flexPosition(initial, initial);
    padding-top: 30vh;
    background-image: url('../assets/bg2.jpg');
    background-size: cover;
    background-position: center;

    &__container {
        @include container;
        @include flexPosition(space-between, initial);
        flex-direction: column;
     
    }


    & .nav {
        position: fixed;
        width: 100%;
        height: 80px;
        top: 0;
        left: 0;
        @include fluidSize(50px, 90px);
        height: 1em;
        @include flexPosition(center, center);
        background-color: $violet;
        // z-index: 1000;

        &.colorNav {
            background-color: $violet;
        }

        &__container {
            @include flexPosition(space-between, center);
            @include container;
            height: 60px;
    
        }

        &__menu {
            @include flexPosition(space-between, center);
            @include fluidSize(11px, 19px);
            @include fontStyle(#fff, 700);
            @media only screen and (max-width: 768px) {
                background-color: $violet;
                opacity: .95;
                flex-direction: column;
                @include flexPosition(center, center);
                @include absolutePosition(0,50%,100%,0);
                transform: translateX(-50%);
                overflow: hidden;
                transition: height 1s ease, color .6s ease;
                margin: 0;
                color: transparent;
                z-index: -1;
            }
            &.visible-menu {
                height: 600px;
                color: #fff;
                
              }
        }

        &__item {
            margin-left: 2em;
            line-height: .5em;
            font-size: 1em;
            @media only screen and (max-width:768px){
                margin: 35px 0 35px 0;
                text-align: center;
                font-size: 2em;
            }
        }

        &__link {  
            position: relative;
            padding: .4em 1em;
            &:focus,
            &:hover {
                outline: none;
                &:before {
                    animation: animateBorderBefore .4s linear forwards;
                }
                &:after {
                    animation: animateBorderAfter .4s linear forwards;
                }
            }
            &:before,
            &:after {
                content: '';
                @include absolutePosition(-2px,-2px,0,0);
                background: transparent;
                border-radius: 80px;
                border: 2px solid transparent;
                transition: .5s;
            }
        }
        &__logo-img {
            @include absolutePosition(0,0,100%,100%);
        }

        &__logo-link {
            display: block;
            height: 30px;
        }

        &__logo {
            position: relative;
            width: 1.5em;
            min-width: 150px;
        }
        & .burger {
            @include absolutePosition(50%,auto,50px,36px);
            right: 25px;
            cursor: pointer;
            border: none;
            background-color: transparent;
            transform: rotate(0deg) translateY(-40%);
            transition: .5s ease-in-out;
            outline: none;
            display: none;
            @media screen and (max-width: 768px){
                display: block;
            }
            &__span {
                display: block;
                @include absolutePosition(0,0,100%,4px);
                background: #fff;
                border-radius: 9px;
                opacity: 1;
                transform: rotate(0deg);
                transition: .3s ease-in-out;
                &:nth-child(1){
                    top: 0;
                }
                &:nth-child(2), &:nth-child(3){
                    top: 11px;
                }
                &:nth-child(4){
                    top: 23px;
                }      
                
            }
            &.open {
                & .burger__span:nth-child(1){
                    top: 15px;
                    width: 0;
                    left: 50%;
                }
                & .burger__span:nth-child(2){
                    transform: rotate(45deg);
                }
                & .burger__span:nth-child(3){
                    transform: rotate(-45deg);
                }
                & .burger__span:nth-child(4){
                    top: 15px;
                    width: 0;
                    left: 50%;
                }
            }
        }
    }

    &__title {
        color: #ffff;
        @include fluidSize(25px, 70px);
        font-weight: 800;
        margin-bottom: 0.4em;
    }

    &__subtitle {
        @include fluidSize(12px, 22px);
        color: $lightBlue;
    }

    &__button {
        color: #fff;
        @include fluidSize(11px, 19px);
        border: none;
        background-color: rgb(50, 42, 90);
        padding: .7em 1.6em;
        margin-top: 4.5em;
        transition: .3s;
        &:nth-of-type(2) {
            padding: .7em 1.8em;
            position: relative;
            left: -15px;
            @media only screen and (max-width: 1180px) {
                position: static;
                margin-left: 2px;            
            }
        }
        &:hover {
            background-color: #6166ED;
            cursor: pointer;
        }
        &:focus {
            outline: none;
            border: 2px solid $violet;
        }
    }

    &__footer {
        overflow-x: hidden;
        @include fluidSize(15px, 40px);
        margin: 2.7em 0 1.4em 0;
        @include flexPosition(space-between, flex-end);
    }

    &__lotto-logo {
        width: 3.5rem;
        height: auto;
        &:last-child {
            @media only screen and (max-width:768px){
                display: none;
            }
        }
    }
}


section {
    background-color: rgb(81, 34, 134);
    height: 100vh;
}